container{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    max-width: 1000px;
    margin: 0 auto;
}

.top-btn {
    display: flex;
    gap: 32px;
  }

  .contact-form {
    display: flex;
    flex-direction: column;
    gap: 24px;
    height: 540px;
    width: 470px;
  }
  .contact-form form {
    display: flex;
    gap: 20px;
    padding-bottom: 20px;
    flex-direction: column;
  }
  .form-control {
    display: flex;
    flex-direction: column;
    width: 470px;
    position: relative;
  }
  .form-control input {
    height: 40px;
    padding: 0 8px;
  }
  .form-control textarea {
    padding: 8px;
  }
  
  .form-control label {
    font-size: 14px;
    position: absolute;
    top: -12px;
    left: 10px;
    background-color: white;
    padding: 0 10px;
  }
  
  .contact-image {
    flex: 1; /* Let the image take available space */
    display: flex;
    justify-content: flex-end; /* Align the image to the right */
    align-items: center; /* Vertically center the image */
  }
  
  .contact-image img {
    max-width: 100%; /* Ensure the image doesn't exceed its container */
    max-height: 100%;
  }
